@charset "utf-8";

* { margin:0; padding:0; box-sizing: border-box;}

ul {list-style:none}
a { text-decoration:none;
     color:inherit;
     }
img {max-width:100%; vertical-align: middle;}
.inner {max-width: 1170px; margin:0 auto; background-color: salmon; border:1px solid black;}
.cf::after { content:''; display: block; clear:both}





#header { 
        border-top:5px solid #009223;
        background-color: #ffffff;}

h1 {text-align:center; padding:30px 0px; }










#nav .depth1 { background-color: #ffffff;}
#nav .depth1 > li {
    float: left;
    width:16.6666%;
   text-align:center;
    padding:30px 0px;
    
}

#nav .depth1 > li > a {
    display:inline-block;
    background-color: #ffffff;
    font-weight:bold;
    letter-spacing: -0.72px;
    color:#292929; font-size:18px;
    padding:30px 0px;

}


#main .count { background-color: seagreen;
    padding:15px 0px;            
}
 
#main .count .inner {
    background-color: seagreen;
    border:none;
    vertical-align: middle

}
 
#main .count .first .a {
     float:right;
     width: 19%;
     background-color:saddlebrown;
     margin:2px;
     border:3px solid black;


}

 
#main .count .first .b{
     float:left;
    width:79%;
    background-color: red;
    margin:1px;
    border:3px solid black;

    
    }
    


#main  .count .secound .ai {
    float:left;
    width:29%;
    background-color: yellow;
    margin:1px;
    border:3px solid black;
}


#main .count .secound .bi {
    float:right;
    width:69%;
    background-color: yellowgreen;
    margin:1px;
    border:3px solid black;

}



#main .bottom  .depth2 > ul > li {
   float:left;
    width:20%;
    padding:30px 0px;
    
}

#main .bottom .depth2  {
    max-width:1170px; margin:0 auto;
    border:1px solid black;
    
}



#footer .last  .depth3{background-color: chartreuse;}
#footer .last .depth4 {border:none; background-color:cornflowerblue;}


#footer .last .depth3 > ul > li {
    float: left;    width:9%;
    max-width:1170px; margin:0 auto;
   
    text-align:center;
}

#footer .depth4 { 
background-color: #666;
max-width:1170px; margin:0 auto;
border:1px solid black;
}